* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Dashboard {
    background-color: rgb(85, 255, 0);

    .main {
        display: flex;
        justify-content: space-between;
    }
}