* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1700px;
    margin: 0 auto;
}

:root {
    --brown: #DB9933;
    --green: #3ABE65;
    --gray: #C6C6C6;
    --black: #000;
    --white: #fff;
}

@font-face {
    font-family: h;
    src: url("./assets/Funt/h.ttf");
}

@font-face {
    font-family: p;
    src: url("./assets/Funt/p.otf");
}

h1,
h2,
h3 {
    font-family: h;
}

p {
    font-family: p;
}

/* ///////////////// Popup Alert Code ///////////////////// */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.0)), url("https://ik.imagekit.io/hmdcfponi/Ansar-e-Shabbir/head?updatedAt=1762781760085");
    padding: 30px;
    background-position: bottom;
    background-size: cover;
    border-radius: 12px;
    text-align: center;
    position: relative;
    max-width: 500px;
    width: 90%;
    color: var(--brown);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeInDown 0.4s ease;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--brown);
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.navbar-nav .nav-link {
    padding: 8px 15px;
}

.navbar-nav .nav-link.active {
    font-weight: 700;
    color: var(--white) !important;
    background-color: var(--brown);
    border-radius: 2px;
}

.navbar {
    opacity: 99999;
    padding: 0 !important;
    background-color: var(--black) !important;

    .navbar-toggler {
        img {
            width: 45px;
            color: var(--white);
        }
    }

    .navbar-brand {
        img {
            width: 90px;
        }
    }

    .nav-link {
        color: var(--white);
        border: 1px solid var(--white);

        &:hover {
            color: var(--white);
        }
    }

    .navicon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 0px;

        .link {
            background-color: var(--white);
            padding: 3px;
            color: var(--black);
            border-radius: 50px;
            margin: 0px 15px;
            width: 30px;
            height: 30px;
        }
    }
}

.offcanvas-header {
    .navicon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 0px;

        .link {
            background-color: var(--white);
            padding: 3px;
            color: var(--black);
            border-radius: 50px;
            margin: 0px 15px;
            width: 30px;
            height: 30px;
        }
    }
}

.login1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)), url("https://ik.imagekit.io/eosxba5t4/Page%20Banner/login?updatedAt=1742057158609");
    display: flex;
    align-items: center;

    .box {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        padding: 10px;

        .row {
            padding: 10px 0px;

            .content {
                padding: 30px 60px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                h1 {
                    color: var(--brown);
                }

                .link {
                    text-align: right;
                    text-decoration: none;
                    color: var(--white);
                    font-weight: bold;
                }
            }

            .butn {
                background-color: var(--yellow);
                border: 1px solid var(--white);
                padding: 5px 10px;
                border-radius: 5px;
                margin: 5px 3px;
                color: var(--white);
                width: 100%;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}

@media (max-width:500px) {
    .login1 {
        .box {
            .row {
                .content {
                    padding: 10px;
                }
            }
        }
    }
}

.head {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Darul_Uloom_Deoband.jpg/1200px-Darul_Uloom_Deoband.jpg");
}

@media (max-width:500px) {
    .head {
        height: auto;
        padding: 100px 0px;
        background-attachment: fixed;
    }
}

.home1 {
    padding: 50px 0px;

    h1,
    h3 {
        color: var(--brown);
    }

    .link {
        background-color: var(--brown);
        padding: 10px;
        text-decoration: none;
        font-weight: 500;
        color: var(--white);
    }
}

.home2 {
    padding: 50px 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(#DB9933e6, rgba(0, 0, 0, 0)), url("https://ik.imagekit.io/hmdcfponi/Home/service-bg?updatedAt=1758354594442");
    color: var(--white);
}

.home3 {
    padding: 30px 0px;

    .img {
        animation: bis 1s linear infinite alternate;
    }

    h1 {
        color: var(--brown);
    }

    .box {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 0px 0px 10px 10px;
        padding: 10px;
        transition: 0.90s ease-in-out;
        position: relative;
        border-top: 2px solid var(--white);

        h5 {
            color: var(--brown);
        }

        &:hover {
            background-color: var(--brown);
            transform: translateY(-10px);

            h5 {
                color: var(--white);
            }
        }
    }
}

.qari {
    padding: 30px 0px;

    .box {
        position: relative;
        transition: 0.20s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    h1 {
        color: var(--brown);
    }
}

.Pillars {
    text-align: center;
    padding: 50px 0px;

    h1 {
        color: var(--brown);
    }

    .box {
        background-color: #FCF6EE;
        border-radius: clamp(12px, 0.833vw, 32px);
        border: 1px solid #1E1F20;
        padding: 1.25vw;
        background-image: url("https://ik.imagekit.io/hmdcfponi/Home/Union?updatedAt=1758701839720");
        background-position: center;
        background-repeat: no-repeat;
        transition: ease-in-out 0.4s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.counter {
    text-align: center;
    padding: 50px 0px;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("https://ik.imagekit.io/hmdcfponi/Home/banner2?updatedAt=1760960663330");

    .box {
        border: 5px double var(--brown);
        padding: 30px 0px;
        border-radius: 20px;

        .icon {
            background-color: var(--brown);
            color: var(--white);
            width: 50px;
            height: 50px;
            display: flex;
            font-size: 30px;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
        }

        h1 {
            color: var(--brown);
            padding: 20px 0px;
        }
    }
}

.gallery {
    padding: 30px 0px;
    text-align: center;

    h1 {
        color: var(--brown);
    }
}

.footer {
    color: var(--white);
    width: 100%;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("https://ik.imagekit.io/hmdcfponi/Home/banner2?updatedAt=1760960663330");

    h1 {
        color: var(--brown);
    }

    img {
        width: 50%;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            width: 40px;
            height: 40px;
            font-size: 20px;
            display: flex;
            color: var(--white);
            border: 1px solid var(--white);
            align-items: center;
            border-radius: 50px;
            justify-content: center;
            background-color: var(--brown);
        }
    }

    .link {
        color: var(--white);
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid var(--white);
        }
    }

    a {
        color: var(--brown);
        text-decoration: none;
    }
}

.About1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/hmdcfponi/Home/banner2?updatedAt=1760960663330");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    display: flex;
    color: var(--brown);
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .content {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 15px;
        border: 1px solid var(--brown);
        border-radius: 20px;
    }
}

.ZameerContent {
    background-color: var(--brown);
    padding: 10px;

    .content {
        background: rgba(0, 0, 0, 0.16);
        padding: 15px;
        margin: 20px 0px;
        border-radius: 15px;

        h1,
        h3 {
            color: var(--white);
        }
    }
}

.About2 {
    padding: 10px 0px;

    h1 {
        color: var(--brown);
    }

    .card {
        h4 {
            color: var(--brown);
        }

        .link {
            background-color: var(--brown);
            color: var(--white);
            position: absolute;
            right: 0%;
            bottom: 0%;
            border-radius: 10px 0px 0px 0px;
            padding: 5px 10px;
            text-decoration: none;
        }
    }
}

.about3 {
    h3 {
        color: var(--brown);
    }

    h5 {
        color: var(--white);
    }

    .card-body {
        background-color: var(--brown);

        h2 {
            color: var(--white);
        }
    }

    .box {
        background-color: var(--brown);
        padding: 20px;
        border-radius: 10px;
        transition: 0.10s ease-in-out;
        border: 1px solid var(--brown);

        h3 {
            color: var(--white);
            font-family: h;
        }

        &:hover {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}

.Libriri1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://ik.imagekit.io/hmdcfponi/Libriri/01?updatedAt=1759477308951");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    color: var(--brown);
    margin-top: 60px;
    padding: 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .box {
        background: rgba(0, 0, 0, 0.9);
        border: 1px solid var(--brown);
        padding: 10px;
        border-radius: 10px;
    }
}

@media (max-width:500px) {
    .Libriri1 {
        img {
            width: 300px;
        }
    }
}

.Libriri2 {
    padding: 70px 0px;
    text-align: center;

    h1 {
        color: var(--brown);
    }

    .box {
        background-color: var(--brown);
        border-radius: 10px;
        padding: 10px;

        .icon {
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50px;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
        }

        h1 {
            color: var(--white);
        }
    }
}

.Libriri3 {
    background-color: var(--brown);
    padding: 50px 0px;
    text-align: center;

    h1 {
        color: var(--white);
    }
}

.LibririCarousel {
    text-align: center;
    border: 2px solid var(--white);
    padding: 50px;
    border-radius: 10px;
    color: var(--white);

    div img {
        border: 1px solid var(--brown);
        padding: 50px;
        background-color: var(--white);
    }
}

.librirbookle {
    padding: 70px 0px;

    h1 {
        color: var(--brown);
    }

    .book {
        border: 2px double var(--brown);
        border-radius: 5px;
        padding: 30px;
    }
}

.Bazam_Zameer1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("https://enews.hamariweb.com/wp-content/uploads/2023/12/327440458_913890006715598_5538819289840092146_n.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: 60px;
    height: 70vh;
    color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Bazam_Zameer2 {
    padding: 50px 0px;

    h1 {
        color: var(--brown);
    }

    .link {
        background-color: var(--brown);
        padding: 10px;
        border-radius: 5px;
        color: var(--white);
        text-decoration: none;
    }
}

.Bazam_Zameer3 {
    padding: 50px 0px;

    h1 {
        color: var(--brown);
    }
}

.Evatsbtn {
    background-color: var(--brown);
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    .allbtn {
        padding: 5px;

        button {
            background: var(--brown);
            border: 1px solid var(--white);
            padding: 8px;
            border-radius: 5px;
            margin: 1px;
        }

        button.active {
            background-color: var(--white);
            color: var(--black);
        }
    }

    .box {
        border-radius: 10px;
        padding: 0px 7px;
    }
}

/* Bazam_Featured_Author Copd Start */
.featurd {
    color: var(--white);
    background-attachment: fixed;
    background-image: url("https://libraria.presstigers.dev/images/project-filter-bg-home-v1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    text-align: center;

    h1 {
        color: var(--brown);
    }
}

.author-slider {
    overflow: hidden;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-track {
    display: flex;
    width: 200%;
    animation: scroll 35s linear infinite;
}

.author-card {
    border: 1px solid var(--white);
    margin: 5px;
    flex: 0 0 10%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://istiqbal-react.wpolive.com/static/media/img.66bc2c7d15c59fe8f042.jpg");
}

.author-card:hover {
    transform: scale(1.08);
    transform: rotate(360deg);
}

.author-card img {
    width: 100%;
    max-width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Pause on hover */
.author-slider:hover .slider-track {
    animation-play-state: paused;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .author-card {
        flex: 0 0 25%;
    }
}

@media (max-width: 768px) {
    .author-card {
        flex: 0 0 33.33%;
    }
}

@media (max-width: 500px) {
    .author-card {
        flex: 0 0 50%;
    }
}

@media (max-width: 360px) {
    .author-card {
        flex: 0 0 100%;
    }
}

/* Bazam_Featured_Author Code End */
.biogarafi1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://ik.imagekit.io/hmdcfponi/About/banner?updatedAt=1758883843727");
    background-position: center;
    width: 100%;
    color: var(--brown);
    height: 70vh;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    img {
        width: 30%;
    }
}

@media (max-width:500px) {
    .biogarafi1 {
        padding: 30px 0px;
        text-align: justify;
    }
}

.biogarafi2 {
    .content {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10px;
        margin: 20px 0px;
        border-radius: 10px;
    }

    h3,
    h1 {
        color: var(--brown);
    }
}

.Pod_Cast1 {
    margin-top: 65px;
    background-image: url("https://ik.imagekit.io/hmdcfponi/PodCast/hero?updatedAt=1762514881221");
    background-position: center;
    width: 100%;
    background-attachment: fixed;
    text-align: center;
    color: var(--brown);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Pod_Cast2 {
    text-align: center;
    padding: 50px 0px;

    .box {
        background-color: var(--white);
        border: 1px solid var(--brown);
        background-position: center;
        background-size: cover;
        background-image: url("https://ik.imagekit.io/hmdcfponi/PodCast/bg-story?updatedAt=1762516294402");
        padding: 30px;
        border-radius: 10px;
    }
}

.Pod_Cast3 {
    h1 {
        color: var(--brown);
    }

    .card {
        background-color: var(--brown);
        color: var(--white);

        small {
            position: absolute;
            top: -1%;
            right: -1%;
            background-color: var(--white);
            padding: 5px 10px;
            color: var(--brown);
            border-radius: 0px 0px 0px 10px;
        }
    }
}

.team1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/hmdcfponi/Ansar-e-Shabbir/head?updatedAt=1762781760085");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 65px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--brown);
}

@media (max-width:500px) {
    .team1 {
        height: auto;
        padding: 30px 0px;
    }
}

.team2 {
    padding: 50px 0px;

    h1 {
        color: var(--brown);
    }

    .card {
        transition: ease-in-out 0.50s;

        h3 {
            color: var(--brown);
            border-right: 4px solid var(--brown);
        }

        .icon {
            display: flex;
            justify-content: space-between;

            .link {
                background-color: var(--brown);
                color: var(--white);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
            }
        }

        &:hover {
            transform: scale(1.04);
        }
    }
}

.Contact1 {
    background-image: url("https://ik.imagekit.io/hmdcfponi/Contact/head?updatedAt=1763203470292");
    background-position: center;
    width: 100%;
    color: var(--brown);
    margin-top: 65px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact2 {
    padding: 50px 0px;

    h1 {
        color: var(--brown);
    }

    .box {
        padding: 30px;
        width: 100%;
        border-radius: 10px;
        background-color: var(--brown);
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://ik.imagekit.io/hmdcfponi/Contact/Pattern?updatedAt=1763298877791");
        color: var(--white);
    }
}

.contact4 {
    padding: 50px 0px;

    h1 {
        color: var(--brown);
    }

    .btn {
        background-color: var(--brown);
        color: var(--white);
        font-weight: bold;
    }
}

.Rhead {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://ik.imagekit.io/hmdcfponi/Libriri/01?updatedAt=1759477308951");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    color: var(--brown);
    height: 70vh;
    margin-top: 60px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Regestration2 {
    .card {
        position: relative;

        .link {
            position: absolute;
            right: 0%;
            bottom: 0%;
            text-decoration: none;
            background-color: var(--brown);
            padding: 5px 10px;
            color: var(--white);
            font-weight: bold;
            border-radius: 20px 0px 0px 0px;
        }
    }
}

.Regestration3 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 2.9), rgba(255, 255, 255, 0.0)), url("https://ik.imagekit.io/hmdcfponi/Regestration/Our-Center?updatedAt=1760517849311");
    padding: 150px 0px;
    background-position: center;
}

.Regestration4 {
    padding: 30px 5px;
    background-image: url("https://themelooper.com/html/salat/images/our-vision-bg.jpg");
    background-attachment: fixed;

    .box {
        border: 2px solid var(--brown);
        color: var(--brown);
        padding: 30px;
        border-radius: 10px;
        transition: 0.90s ease-in-out;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

        h3 {
            margin-top: 10px;
        }

        &:hover {
            transform: rotate(360deg);
        }
    }

    .icon {
        border: 2px solid var(--brown);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.membershipform {
    h3 {
        color: var(--brown);
    }

    button {
        background-color: var(--brown);
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 8px;
        border: none;
        width: 100%;
        color: var(--white);
    }
}

.PakistanDetails1 {
    margin-top: 65px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://ik.imagekit.io/hmdcfponi/Shabbir%20Ahmed/head?updatedAt=1761638863828");
    background-size: cover;
    color: var(--white);
    background-position: center;

    .container {
        padding: 40px 20px;
        border-radius: 10px;

        h2 {
            color: var(--brown);
        }
    }
}

@media (max-width:500px) {
    .PakistanDetails1 {
        height: auto;

        .container {
            text-align: justify;
        }
    }
}

.PakistanDetails2 {
    .content {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0px;

        h3 {
            color: var(--brown);
        }
    }
}

.MSAU1 {
    margin-top: 65px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("https://enews.hamariweb.com/wp-content/uploads/2023/12/327440458_913890006715598_5538819289840092146_n.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: var(--brown);
    margin-top: 60px;
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MSAU2 {
    padding: 50px 0px;

    .content {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        padding: 20px;

        h1 {
            color: var(--brown);
        }
    }
}

.MZAQ1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("https://enews.hamariweb.com/wp-content/uploads/2023/12/327440458_913890006715598_5538819289840092146_n.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: var(--brown);
    text-align: center;
    margin-top: 60px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
}

@media (max-width:500px) {
    .MZAQ1 {
        height: auto;
        padding: 30px 0px;
    }

    .MZAQ2 {
        padding: 0px !important;
    }
}

.MZAQ2 {
    padding: 50px 0px;

    .content {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 30px;
        border-radius: 10px;
        margin: 20px 0px;

        h3 {
            color: var(--brown);
        }
    }
}

.AMYB1 {
    margin-top: 65px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("https://enews.hamariweb.com/wp-content/uploads/2023/12/327440458_913890006715598_5538819289840092146_n.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    color: var(--brown);
    text-align: center;
    margin-top: 60px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.AMYB2 {
    .content {
        margin: 30px 0px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        h1 {
            color: var(--brown);
        }
    }
}

.as1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://ik.imagekit.io/hmdcfponi/Ansar-e-Shabbir/head?updatedAt=1762781760085");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 65px;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--brown);
}

.as2 {
    padding: 30px 0px;
    text-align: center;

    h1 {
        color: var(--brown);
    }
}

.asform1 {
    padding: 0px 0px 50px 0px;
    text-align: center;

    .box {
        background-color: var(--brown);
        padding: 30px;
        border-radius: 10px;

        h1 {
            color: var(--white);
            text-transform: uppercase;
        }
    }
}